<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>確認啟動頁</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="margin-top:300px">
      <div class="col"></div>
      <div class="col" style="text-align:center">
        <div class="card">
          <div class="card-header">
            啟動按鈕
          </div>
          <div class="card-body">
            <a href="CronStart" class="btn btn-outline-danger">啟動</a>

            <a href="nowStart" class="btn btn-outline-success">立即重新下載</a>

            <a href="cf_weather" class="btn btn-outline-success">CF_Weather 1 API 下載 (未完成)</a>
          </div>


        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>

</html>
