@layout('layout/main')
@section('content')
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="text-align:center">
                <h3>抱歉您的權限不足!</h3>
            </div>
        </div>
    </div>
@endsection